<launch>
  <arg name="empty" default="False"/>
  <include file="$(find pr2_description)/robots/upload_pr2.launch" />
  <include file="$(find simple_costmap_configuration)/launch/test_core.launch">
    <arg name="empty" value="$(arg empty)"/>
  </include>
  
  <node pkg="move_base" type="move_base" name="move_base_node" output="screen">
    <remap from="odom" to="base_odometry/odom" />
    <remap from="cmd_vel" to="navigation/cmd_vel" />

    <!-- Use the dwa local planner for the PR2 -->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <!-- Load global navigation specific parameters -->
    <rosparam file="$(find simple_costmap_configuration)/params/global.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find simple_costmap_configuration)/params/local.yaml" command="load" ns="local_costmap" />
  </node>
</launch>
